Repository pedropombeiro/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: renovate-config-validator, zsh-syntax-check, just-fmt

.pre-commit-config.yaml:

---
exclude: '^\.config/.*|^\.local/.*'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-symlinks
      - id: check-yaml
        exclude: '^\.local/share/.*'
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
        exclude: '^\.local/share/.*'
      - id: trailing-whitespace
        exclude: '^\.local/share/.*'

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        exclude: '^\.config/.*|^\.local/.*|^\.shellrc/zshrc\.d/.*|\.zsh(##.*)?$|^\.zlogin$|\.sh##default$'

  - repo: local
    hooks:
      - id: renovate-config-validator
        name: Renovate Config Validator
        entry: mise x npm:renovate -- renovate-config-validator --strict
        language: system
        files: (^|/)\.?renovate(rc)?\.json5?$|^renovate\.json5?$

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ["-c", ".yamllint.yml"]

  - repo: local
    hooks:
      - id: stylua
        name: stylua (check)
        entry: stylua --check --config-path .config/nvim/.stylua.toml
        language: system
        types: [lua]
      - id: stylua-fix
        name: stylua (fix)
        entry: stylua --config-path .config/nvim/.stylua.toml
        language: system
        types: [lua]
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: prettier (check)
        types_or: [json, markdown, yaml]
        language_version: system
      - id: prettier
        name: prettier (fix)
        language_version: system
        alias: prettier-fix
        args: ["--write", "--list-different"]
        types_or: [json, markdown, yaml]
        stages: [manual]

  - repo: local
    hooks:
      - id: standardrb
        name: standardrb (check)
        entry: standardrb
        language: system
        types: [ruby]
      - id: standardrb-fix
        name: standardrb (fix)
        entry: standardrb --fix
        language: system
        types: [ruby]
        stages: [manual]
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: npx markdownlint-cli2
        language: system
        types: [markdown]
        stages: [manual]
      - id: markdownlint-cli2-fix
        name: markdownlint-cli2-fix
        entry: npx markdownlint-cli2 --fix
        language: system
        types: [markdown]
        stages: [manual]
      - id: zsh-syntax-check
        name: zsh syntax check
        entry: zsh -n
        language: system
        files: '\.zsh(##.*)?$|^\.zlogin$|^\.shellrc/zshrc\.d/functions/[^/]+$'
      - id: just-fmt
        name: just fmt (check)
        entry: just --fmt --check --unstable --justfile
        language: system
        files: '(^\.?[Jj]ustfile$|\.just$)'
      - id: just-fmt-fix
        name: just fmt (fix)
        entry: just --fmt --unstable --justfile
        language: system
        files: '(^\.?[Jj]ustfile$|\.just$)'
        stages: [manual]

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.6.0
    hooks:
      - id: editorconfig-checker
        exclude: '^\.config/.*|^\.local/.*|^\.shellrc/zshrc\.d/functions/scripts/.*\.rb$|\.md$'

fix(renovate): move dua grouping after backend tools
  .renovaterc.json
Due: renovate-config-validator

fix(renovate): ensure npm:renovate grouping override
  .renovaterc.json
Due: renovate-config-validator

feat(config): remove deprecated model configuration
  .config/opencode/opencode.json##class.Work
Due: none

feat(shell): add oc alias for opencode with per-project model support
  .config/lazygit/config.yml
  .shellrc/rc.d/aliases.sh
Due: none

chore(deps): update node.js to v23.11.1
  .config/mise/conf.d/distro-specific.toml##os.Linux,distro.qts
Due: none

fix(renovate): match node package name for QTS pin
  .renovaterc.json
Due: renovate-config-validator

fix(fgdku): handle gem activation conflicts between GDK and GitLab
  .shellrc/zshrc.d/functions/fgdku##class.Work
Due: zsh-syntax-check

chore(deps): update dependency npm:renovate to v43.0.10
  .config/mise/config.toml##default
Due: none

chore(deps): update dependency npm:renovate to v43.0.10 (#89)
  .config/mise/config.toml##default
Due: none

chore(deps): update dependency npm:renovate to v43.0.10
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

chore(deps): update dependency npm:renovate to v43.0.10 (#90)
  .config/mise/config.toml##default
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

chore(gdk): add Valkey backend configuration
  .config/yadm/scripts/update-work.zsh
Due: none

chore(deps): update opencode to v1.1.52
  .config/mise/config.toml##default
Due: none

chore(deps): update opencode to v1.1.52 (#93)
  .config/mise/config.toml##default
Due: none

chore(deps): update opencode to v1.1.53
  .config/mise/config.toml##default
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

chore(deps): update opencode to v1.1.53 (#94)
  .config/mise/config.toml##default
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

chore(renovate): enforce npm:renovate grouping
  .renovaterc.json
Due: renovate-config-validator

chore(yazi): update plugin revisions
  .config/yazi/package.toml
Due: none

chore(deps): update dependency npm:renovate to v43.2.5
  .config/mise/config.toml##default
Due: none

chore(deps): update dependency npm:renovate to v43.2.5
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

chore(deps): update dependency ruby to v4
  .config/mise/conf.d/work.toml##class.Work
Due: none

fix(renovate): use simpler glob for npm:renovate file matching
  .renovaterc.json
Due: renovate-config-validator

fix(renovate): use explicit file paths for npm:renovate grouping
  .renovaterc.json
Due: renovate-config-validator

fix(renovate): remove matchFileNames restriction from npm:renovate grouping
  .renovaterc.json
Due: renovate-config-validator

fix(renovate): move npm:renovate grouping rule to end of packageRules
  .renovaterc.json
Due: renovate-config-validator

fix(renovate): another attempt to fix grouping
  .renovaterc.json
Due: renovate-config-validator

chore(deps): update dependency npm:renovate to v43.2.5
  .config/mise/config.toml##default
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

chore(deps): update dependency npm:renovate to v43.2.5 (#98)
  .config/mise/config.toml##default
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

feat(yazi): add croc share command (c s)
  .config/yazi/keymap.toml
Due: none

chore(deps): update dependency npm:renovate to v43.2.6
  .config/mise/config.toml##default
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

chore(deps): update dependency npm:renovate to v43.2.6 (#100)
  .config/mise/config.toml##default
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

chore(deps): update dependency npm:renovate to v43.2.7
  .config/mise/config.toml##default
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

chore(deps): update dependency npm:renovate to v43.2.7 (#101)
  .config/mise/config.toml##default
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

chore(deps): update dependency npm:renovate to v43.2.8
  .config/mise/config.toml##default
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

chore(deps): update dependency npm:renovate to v43.2.8 (#102)
  .config/mise/config.toml##default
  .config/mise/config.toml##distro.qts,extension.toml
Due: none
