Repository pedropombeiro/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: renovate-config-validator, zsh-syntax-check, just-fmt

renovate-config-validator:
  name: Renovate Config Validator
  entry: mise x npm:renovate -- renovate-config-validator --strict
  language: system

zsh-syntax-check:
  name: zsh syntax check
  entry: zsh -n
  language: system

just-fmt:
  name: just fmt (check)
  entry: just --fmt --check --unstable --justfile
  language: system

feat: add Ghostty terminal configuration
  .config/ghostty/config
  .config/ghostty/config##class.Personal
  .config/ghostty/config##class.Work
  .config/ghostty/scripts/gdk-workspace.sh
Due: none

fix(tmux): replace @logical_pwd with pane_current_path
  .config/tmux/tmux.conf##distro.qts
  .shellrc/zshrc.d/configs/tmux.zsh##distro.qts
Due: zsh-syntax-check

feat: add WezTerm terminal configuration
  .Brewfile##os.Darwin,class.Personal,extension.Brewfile
  .config/nvim/lua/plugins/image.lua##os.Darwin
  .config/nvim/lua/plugins/snacks.lua
  .config/tmux/tmux.conf##distro.qts
  .config/wezterm/common.lua
  .config/wezterm/shell-integration.sh
  .config/wezterm/wezterm.lua##class.Personal
  .config/wezterm/wezterm.lua##class.Work
  .config/wezterm/workspaces/gdk.lua##class.Work
  .config/yadm/bootstrap.d/916-install-wezterm-terminfo.sh##os.Darwin
  .shellrc/rc.d/aliases.sh
  .ssh/config##default
Due: none

Revert "feat: add Ghostty terminal configuration"
  .config/ghostty/config
  .config/ghostty/config##class.Personal
  .config/ghostty/config##class.Work
  .config/ghostty/scripts/gdk-workspace.sh
Due: none

chore(update-work.zsh): disable standardrb formatter explicitly
  .config/yadm/scripts/update-work.zsh
Due: none

feat(glab): add GitLab workflow automation skill
  .config/opencode/skills/glab/SKILL.md##class.Work
Due: none

feat(opencode): allow read-only docker commands
  .config/opencode/opencode.json##default
Due: none

chore(opencode): normalize bash allowlist patterns
  .config/opencode/opencode.json##default
Due: none

chore(deps): update dependency npm:renovate to v43.3.6 (#105)
  .config/mise/config.toml##default
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

chore(opencode.json): allow pre-commit commands
  .config/opencode/opencode.json##class.Work
  .config/opencode/opencode.json##default
Due: none

chore(deps): update dependency npm:renovate to v43.3.4 (#103)
  .config/mise/config.toml##default
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

chore(nvim): use fork of opencode.nvim with process termination fix
  .config/nvim/lua/plugins/opencode.lua
Due: none

refactor(mise): reorder tools and migrate opencode
  .config/mise/config.toml##default
Due: none

chore(launchd): raise maxfiles limit for Neovim jobs
  .config/yadm/config_templates/LaunchDaemons/org.limit.maxfiles.plist
Due: none

chore(opencode.json): allow git rev-parse and other commands
  .config/opencode/opencode.json##class.Work
  .config/opencode/opencode.json##default
Due: none

refactor(opencode): migrate from opencode to opencode-cli with
  .config/lazygit/config.yml
  .config/mise/config.toml##default
  .config/nvim/lua/plugins/opencode.lua
  .shellrc/rc.d/aliases.sh
Due: none

Revert "chore(nvim): use fork of opencode.nvim with process termination fix"
  .config/nvim/lua/plugins/opencode.lua
Due: none

Revert "refactor(opencode): migrate from opencode to opencode-cli with"
  .config/lazygit/config.yml
  .config/mise/config.toml##default
  .config/nvim/lua/plugins/opencode.lua
  .shellrc/rc.d/aliases.sh
Due: none

style(mise): reorganize GitHub tools alphabetically
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

chore(deps): update dependency pedropombeiro/opencode-legacy-glibc to v1.1.56 (#109)
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

feat(opencode): allow knowledge-graph commands in Work class
  .config/opencode/opencode.json##class.Work
Due: none

chore(mise): prune when prunable size exceeds threshold
  .config/yadm/scripts/mise-prune-if-needed.sh
  .config/yadm/scripts/update.sh##os.Darwin
Due: none

chore(renovate): detect opencode inline-table
  .renovaterc.json
Due: renovate-config-validator

fix(iterm2): run pgai commands through mise ruby shim
  .config/iterm2/config/com.googlecode.iterm2.plist##os.Darwin,class.Work,extension.plist
Due: none

fix(fgdku): use background watcher to resolve GDK/GitLab openssl gem conflict
  .shellrc/zshrc.d/functions/fgdku##class.Work
Due: zsh-syntax-check

feat(opencode): add markdownlint and vale to allowed commands
  .config/opencode/opencode.json##class.Work
Due: none

chore(renovate): split major and minor updates
  .renovaterc.json
Due: renovate-config-validator

chore(deps): update dependency domcyrus/rustnet to v1
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

chore(deps): update dependency domcyrus/rustnet to v1 (#110)
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

chore(renovate): prefix automerge MRs
  .renovaterc.json
Due: renovate-config-validator

chore(brew): refresh Brewfile
  .Brewfile##os.Darwin,class.Work,extension.Brewfile
Due: none

chore(dotfiles): fix indentation and add standard linter gem
  .config/mise/config.toml##default
  .shellrc/zshrc.d/functions/scripts/git-helpers.rb
  .shellrc/zshrc.d/functions/scripts/gitlab-helpers.rb
Due: none

refactor: extract commit message generation into standalone script
  .config/lazygit/config.yml
  .justfile
  .local/bin/git-ai-commit-msg
Due: just-fmt

chore(opencode): allow npx markdownlint-cli2 command
  .config/opencode/opencode.json##class.Work
Due: none

chore(git-ai-commit-msg): refine commit message prompt and add output formatting
  .local/bin/git-ai-commit-msg
Due: none

feat(justfile): add yadm/git detection and push command
  .justfile
Due: just-fmt

chore(opencode): allow git remote -v command
  .config/opencode/opencode.json##class.Work
  .config/opencode/opencode.json##default
Due: none

fix(config): update git-ai-commit-msg path to use local bin directory
  .config/lazygit/config.yml
  .justfile
Due: just-fmt

feat(zsh): add OMZ lib plugins and consolidate directories.zsh
  .shellrc/zshrc.d/configs/common-aliases.zsh
  .shellrc/zshrc.d/configs/common-plugins.zsh
Due: zsh-syntax-check

feat(nvim): universalize filetype detection for yadm alternate files
  .config/nvim/ftdetect/yadm.lua
Due: none

Path conditions:
  renovate-config-validator: any of: (^|/)\.?renovate(rc)?\.json5?$|^renovate\.json5?$, but not: ^\.config/.*|^\.local/.*
  zsh-syntax-check: any of: \.zsh(##.*)?$|^\.zlogin$|^\.shellrc/zshrc\.d/functions/[^/]+$, but not: ^\.config/.*|^\.local/.*
  just-fmt: any of: (^\.?[Jj]ustfile$|\.just$), but not: ^\.config/.*|^\.local/.*
