Repository pedropombeiro/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: renovate-config-validator, zsh-syntax-check, just-fmt

renovate-config-validator:
  name: Renovate Config Validator
  entry: mise x npm:renovate -- renovate-config-validator --strict
  language: system

zsh-syntax-check:
  name: zsh syntax check
  entry: zsh -n
  language: system

just-fmt:
  name: just fmt (check)
  entry: just --fmt --check --unstable --justfile
  language: system

chore(renovaterc): wrap AUTOMERGE prefix in backticks
  .renovaterc.json
Due: renovate-config-validator

chore(renovaterc): track opencode via aqua
  .renovaterc.json
Due: renovate-config-validator

fix(zsh): handle fgdku webhook failure
  .shellrc/zshrc.d/functions/fgdku##class.Work
Due: zsh-syntax-check

feat(nvim): add camouflage.nvim to mask sensitive values in buffers
  .config/nvim/lua/plugins/camouflage.lua
  .config/nvim/lua/plugins/which-key.lua
Due: none

fix(renovaterc): use canonical aqua name for opencode dependency
  .renovaterc.json
Due: renovate-config-validator

fix(renovaterc): use github-releases datasource for opencode dependency
  .renovaterc.json
Due: renovate-config-validator

`AUTOMERGE`: Update mise shared opencode to v1.1.59
  .config/mise/config.toml##default
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

`AUTOMERGE`: Update mise shared opencode to v1.1.59 (#112)
  .config/mise/config.toml##default
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

feat(opencode): add gh skill
  .config/opencode/skills/gh/SKILL.md
Due: none

feat(opencode): add pipeline monitoring and epic management documentation
  .config/opencode/skills/glab/SKILL.md##class.Work
Due: none

fix(gdk): resolve clickhouse bin via mise
  .config/yadm/scripts/update-work.zsh
Due: none

feat(mise): add clickhouse 23 to work tools
  .config/mise/conf.d/work.toml##class.Work
Due: none

fix: use clickhouse 25 via mise and add soft guard for migrations
  .config/mise/conf.d/work.toml##class.Work
  .shellrc/zshrc.d/functions/fgdku##class.Work
Due: zsh-syntax-check

feat(git-ai-commit-msg): capture git status for improved commit message generation
  .local/bin/git-ai-commit-msg
Due: none

`AUTOMERGE`: Update mise shared opencode
  .config/mise/config.toml##default
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

fix: downgrade clickhouse to 24.x and use mise for client command
  .config/iterm2/config/com.googlecode.iterm2.plist##os.Darwin,class.Work,extension.plist
  .config/mise/conf.d/work.toml##class.Work
Due: none

fix(opencode.json): reorganize knowledge-graph tool
  .config/opencode/opencode.json##class.Work
Due: none

`AUTOMERGE`: Update mise shared opencode (#113)
  .config/mise/config.toml##default
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

refactor(shellrc): consolidate brew MANPATH configuration
  .shellrc/login.d/brew.sh##os.Darwin
  .shellrc/zshrc.d/configs/options.zsh
Due: zsh-syntax-check

refactor(shellrc): consolidate SSH agent socket configuration into 1password script
  .shellrc/rc.d/1password.sh
  .shellrc/rc.d/ssh-agent.sh
Due: none

refactor(shellrc): simplify editor configuration and command checks
  .shellrc/rc.d/editor.sh
  .shellrc/rc.d/nvim.sh
Due: none

chore(justfile): restructure with metadata and grouping
  .justfile
Due: just-fmt

refactor(nvim): standardize option toggles on [o/]o pattern
  .config/nvim/lua/plugins.lua
  .config/nvim/lua/plugins/which-key.lua
Due: none

`AUTOMERGE`: Update mise shared opencode to v1.1.65
  .config/mise/config.toml##default
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

`AUTOMERGE`: Update mise shared opencode to v1.1.65 (#114)
  .config/mise/config.toml##default
  .config/mise/config.toml##distro.qts,extension.toml
Due: none

fix(iterm2): refresh GDK window arrangement
  .config/iterm2/config/com.googlecode.iterm2.plist##os.Darwin,class.Work,extension.plist
Due: none

fix(justfile): replace decorator confirmation with inline prompt
  .justfile
Due: just-fmt

fix(git-ai-commit-msg): fix yadm detection logic to avoid false positives
  .local/bin/git-ai-commit-msg
Due: none

feat(config): add lazy-mcp servers configuration
  .config/lazy-mcp/servers.json##class.Work
  .config/lazy-mcp/servers.json##default
  .config/opencode/AGENTS.md
  .config/opencode/opencode.json##class.Work
  .config/opencode/opencode.json##default
Due: none

fix(nvim): replace mason-null-ls with mason-tool-installer to fix race condition
  .config/nvim/lua/plugins.lua
  .config/nvim/lua/plugins/lsp/mason-null-ls.lua##default
  .config/nvim/lua/plugins/lsp/mason-null-ls.lua##distro.qts
  .config/nvim/lua/plugins/lsp/mason-tool-installer.lua##default
  .config/nvim/lua/plugins/lsp/mason-tool-installer.lua##distro.qts
Due: none

refactor(nvim): replace none-ls with nvim-lint for diagnostics
  .config/nvim/lua/plugins/linting.lua
  .config/nvim/lua/plugins/lsp/mason-tool-installer.lua##default
  .config/nvim/lua/plugins/lsp/none-ls.lua
Due: none

fix(nvim): add conditions to mason-tool-installer for Go and Ruby tools
  .config/nvim/lua/plugins/lsp/mason-tool-installer.lua##default
Due: none

feat(nvim): add Mason tools update to yadm update script
  .config/yadm/scripts/update-common.zsh
Due: none

fix(nvim): add cargo condition for gitlab-ci-ls in mason-tool-installer
  .config/nvim/lua/plugins/lsp/mason-tool-installer.lua##default
Due: none

feat(nvim): add linting and formatting for yaml.homeassistant filetype
  .config/nvim/lua/plugins/formatting.lua
  .config/nvim/lua/plugins/linting.lua
Due: none

refactor(nvim): improve camouflage.lua layout and disable for HA files
  .config/nvim/lua/plugins/camouflage.lua
Due: none

fix(nvim): disable camouflage for gitconfig and most JSON files
  .config/nvim/lua/plugins/camouflage.lua
Due: none

style(nvim): normalize plugin config file headers
  .config/nvim/lua/plugins/blink.lua
  .config/nvim/lua/plugins/camouflage.lua
  .config/nvim/lua/plugins/diffview.lua
  .config/nvim/lua/plugins/formatting.lua
  .config/nvim/lua/plugins/image.lua
  .config/nvim/lua/plugins/lazydocker.lua
  .config/nvim/lua/plugins/linting.lua
  .config/nvim/lua/plugins/lsp/fidget.lua
  .config/nvim/lua/plugins/lsp/lazydev.lua
  .config/nvim/lua/plugins/lsp/lspconfig.lua
  .config/nvim/lua/plugins/lsp/mason-tool-installer.lua
  .config/nvim/lua/plugins/lsp/mason-tool-installer.lua##default
  .config/nvim/lua/plugins/mason.lua
  .config/nvim/lua/plugins/nvim-code-action-menu.lua
  .config/nvim/lua/plugins/nvim-colorizer.lua
  .config/nvim/lua/plugins/nvim-ufo.lua
  .config/nvim/lua/plugins/opencode.lua
  .config/nvim/lua/plugins/outline.lua
  .config/nvim/lua/plugins/pipeline.lua
  .config/nvim/lua/plugins/snacks.lua
  .config/nvim/lua/plugins/theme.lua
  .config/nvim/lua/plugins/trailspace.lua
  .config/nvim/lua/plugins/trouble.lua
  .config/nvim/lua/plugins/urlview.lua
  .config/nvim/lua/plugins/vim-fugitive.lua
  .config/nvim/lua/plugins/which-key.lua
  .config/nvim/lua/plugins/yazi.lua
Due: none

refactor(nvim): rename plugin config files to match plugin names
  .config/nvim/lua/plugins/actions-preview.lua
  .config/nvim/lua/plugins/blink-cmp.lua
  .config/nvim/lua/plugins/fugitive-gitlab-vim.lua
  .config/nvim/lua/plugins/gitlab-vim.lua
  .config/nvim/lua/plugins/lsp/nvim-lspconfig.lua
  .config/nvim/lua/plugins/mini-trailspace.lua
  .config/nvim/lua/plugins/vim-easy-align.lua
Due: none

chore(tmux.zsh): remove COLUMNS/LINES export workaround
  .shellrc/zshrc.d/configs/tmux.zsh##distro.qts
Due: zsh-syntax-check

Path conditions:
  renovate-config-validator: any of: (^|/)\.?renovate(rc)?\.json5?$|^renovate\.json5?$, but not: ^\.config/.*|^\.local/.*
  zsh-syntax-check: any of: \.zsh(##.*)?$|^\.zlogin$|^\.shellrc/zshrc\.d/functions/[^/]+$, but not: ^\.config/.*|^\.local/.*
  just-fmt: any of: (^\.?[Jj]ustfile$|\.just$), but not: ^\.config/.*|^\.local/.*
